In [2]:
# TASK - 01

student = {
           100 : {'Name': 'Usman Zaheer', 'Age': 21 ,'Course': 'English'}, 
           101 : {'Name': 'Abu Huraira','Age':  22,' Course':  'AI'},
           102 : {'Name': 'Hamdan ', 'Age':  20 , 'Course':  'Python'},
           103 : {'Name': 'Haris' ,'Age': 20 ,'Course' : 'AI'}
    
}

print(student[101])
student.update({104:{'Name' : 'Ali Tahir' , 'Age' : 22 , 'Course' : 'Urdu'}})
student.update({100:{'Name' : 'Ali Khan' , 'Age' : 22 , 'Course' : 'Acting'}})  
student.pop(100)
for i in student.items():
        print(i)

{'Name': 'Abu Huraira', 'Age': 22, ' Course': 'AI'}
(101, {'Name': 'Abu Huraira', 'Age': 22, ' Course': 'AI'})
(102, {'Name': 'Hamdan ', 'Age': 20, 'Course': 'Python'})
(103, {'Name': 'Haris', 'Age': 20, 'Course': 'AI'})
(104, {'Name': 'Ali Tahir', 'Age': 22, 'Course': 'Urdu'})

In [3]:
# TASK - 03

phonebook = {
    'Usman' : '0343-0562144',
    'Abu Huraira ' : '0322-5200669',
    'Haris' : '0310-1928489'
}

phonebook.update({'Hamdan' : '0333-0412545'})
print(phonebook['Haris'])
phonebook.pop('Usman')
for i in phonebook.items():
    print(i)

0310-1928489
('Abu Huraira ', '0322-5200669')
('Haris', '0310-1928489')
('Hamdan', '0333-0412545')

In [22]:
# TASK - 04

inventory = {
            'Gun' :  (450 , 10),
            'Hammer' : (35 ,5),
             'Axe' : (10 , 5)
}
for i in inventory.items():
    print(i)
print('_______________________________')

inventory.update({'Gun' : (500,10)})
for i in inventory.items():
    print(i)
print('______________________________')
inventory.update({'Flame-thrower' : (500,15)})
for i in inventory.items():
    print(i)
print('_______________________________')
inventory.pop('Hammer')
for i in inventory.items():
    print(i)
print('_______________________________')
for name,(price,quantity) in inventory.items():
    print(f" Name: {name},Price : {price},  Quantity: {quantity}")
print('________________________________')
x = 0
for _,(price,quantity) in inventory.items():
    x += price*quantity
print(f"Price Of Inventory : {x}" )
print('__________________________________')

('Gun', (450, 10))
('Hammer', (35, 5))
('Axe', (10, 5))
_______________________________
('Gun', (500, 10))
('Hammer', (35, 5))
('Axe', (10, 5))
______________________________
('Gun', (500, 10))
('Hammer', (35, 5))
('Axe', (10, 5))
('Flame-thrower', (500, 15))
_______________________________
('Gun', (500, 10))
('Axe', (10, 5))
('Flame-thrower', (500, 15))
_______________________________
 Name: Gun,Price : 500,  Quantity: 10
 Name: Axe,Price : 10,  Quantity: 5
 Name: Flame-thrower,Price : 500,  Quantity: 15
________________________________
Price Of Inventory : 12550

In [24]:
# TASK - 02

Fruits = ['Apple' , 'Banana' , 'apple' , 'Cherry']
count = {}
for i in Fruits:
    x = i.lower()
    if x in count:
        count[x] += 1
    else:
        count[x] = 1
print(count)

{'apple': 2, 'banana': 1, 'cherry': 1}